<div style="border-color: red; border: 2px; border-style: solid;">
    <p>my-second-component works!</p>
    <ul>
        <li>FirstName : {{store.customer?.firstName}}</li>
        <li>Name : {{store.customer?.lastName}}</li>
    </ul>
    <h3>Change store data : </h3>
    <p>
        <input type="text" [(ngModel)]="store.customer && store.customer.lastName" />
        <button (click)="histoStore.setAction()" type="button">Add to histo</button>
        <button (click)="histoStore.getFirstHistoAction()" type="button">Get First Histo action</button>
    </p>
</div>